@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/inter-400.woff2") format("woff2");
  font-display: swap;
  }

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/inter-700.woff2") format("woff2");
  font-display: swap;
  }

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/inter-900.woff2") format("woff2");
  font-display: swap;
  }

body {
  font-family: "Inter", serif;
  font-size: 18px;
  line-height: 24px;
  background-color: #FEAFC3;
  color: #2D3440;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1366px;
  }
.button {
  background: #FCFCFC;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border-color: #FEAFC3;
  text-decoration: none;
  color: #2D3440;
  }
.navigation-list {
  display: flex;
  width: 422px;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
.navigation-link {
  font-family: "Inter" serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  list-style: none;
  color: #2D3440;
}
.navigation-user {
  display: flex;

  padding: 0;
  gap: 16px;
  list-style: none;
  margin-left: auto;
}
.gifts {
  margin: 0 auto;
  padding: 0;
  width: 1170px;
  }
.gifts-banner {
  display: flex;
  justify-content: space-between;
  padding: 0;
  flex-grow: 1;
  width: 1170px;

}
.gifts-title {
  width: 434px;
  font-family: 'Inter' serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #2D3440;
  padding: 0;
  margin: 0 auto;
}
.gifts-banner-raspberries {
  background: #FF7799;
  border-radius: 16px;
  background-image: url("../images/малинка_даром.png");
  background-repeat: no-repeat;
  width: 570px;
  min-height: 268px;
  background-position: right;
}
.gifts-banner-marshmallow {
  background: #FF7799;
  border-radius: 16px;
  background-image: url("../images/маршмеллоу_даром.png");
  background-repeat: no-repeat;
  width: 570px;
  min-height: 268px;
  background-position: right;
  }

.benefits{
  background: #FFFFFF;
  border-radius: 16px;
  background-image: url("../images/Вафля.jpg");
  background-repeat: no-repeat;
  width: 1170px;
  min-height: 480px;
  }
  .news-blog {
  background: #FFFFFF;
  border-radius: 16px;
  background-image: url("../images/Новости.jpg");
  background-repeat: no-repeat;
  width: 570px;
  min-height: 224px;
  background-position: right;

  }
  .newsletter {
  background: #FFFFFF;
  border-radius: 16px;
  background-image: url("../images/Подписка.png");
  background-repeat: no-repeat;
  width: 570px;
  height: 224px;
  }
.news {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 30px;
  width: 1170px;
}
.delivery {
  display: flex;
  padding: 0;
  margin: 0 auto;
  background: #FFFFFF;
  border-radius: 16px;
  background-image: url("../images/Доставка.jpg");
  background-repeat: no-repeat;
  width: 1170px;
  min-height: 534px;
}
.delivery-form {
  background: #FCFCFC;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  width: 500px;
}
.delivery-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  position: absolute;
  width: 356px;
}
.delivery-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  position: absolute;
  width: 371px;
  height: 88px;

}

.feedback {
  background: #FFFFFF;
  border-radius: 16px;
  background-image: url("../images/Обратная_связь.jpg");
  background-repeat: no-repeat;
  width: 1170px;
  min-height: 492px;
}
.popular-list {
  display: flex;
  align-content: center;
  list-style-type: none;

}
.product-card-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #2D3440;
}
.page-header {
  display: flex;
  width: 1170px;
  padding: 0;
  margin: 0 auto;

}
.conteiner {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
  position: relative;
  width: 1366px;
  flex-grow: 1;

}
.page-footer {
  display: flex;
  width: 1366px;
  margin: 0 auto;
}
.navigation {
  display: flex;
  max-width: 100%;
  width: 575px;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 16px;
}
.tel {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.main-index {
  margin: 0 auto;
  padding: 0;
  width: 1170px;
}
.slider-pagination {
  display: flex;
  list-style-type: none;
  width: 52px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 8px;
  justify-content: flex-end;
}
.slider-pagination-button {
  background: #FCFCFC;
  width: 12px;
  height: 12px;
}
.main-social-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0;
  gap: 16px;
  list-style-type: none;
}
.options {
  width: 1170px;
  min-height: 554px;


}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.slider-image {
  background-image: url("../images/svg/Подложка.svg");
  background-repeat: no-repeat;
  background-position: center;

}
.slider-image-preview {
  background-image: url("../images/svg/Мини_подложка.svg");
  background-repeat: no-repeat;
  background-position: center;
}
